@font-face {
  font-family: "Font_TSX";
  src: url("../../../../../font/Font_TSX.otf") format("opentype");
}

.Wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .MainBox {
    overflow: hidden;
    border-radius: 14px;
    background-color: #282828;
    width: 80%;
    height: 80vh;

    .Firts_Wrapper {
      display: flex;
      justify-content: center;
      width: 30%;
      height: 100%;
      background-color: #fff;
      padding: 20px 0;

      .CS_GO_Info {
        width: 80%;
        height: 0;
        padding: 2.5rem 0.5rem;
        border-radius: 10px;
        display: flex;
        align-items: center;
        background-color: #212121;
        box-shadow: 0 0 5px black;
        .Logo {
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #fff;
          background-color: #fff;
          border-radius: 50%;
          width: 8rem;
          overflow: hidden;
          img {
            width: 3rem;
          }
        }
        .Title {
          margin-left: 15px;
          width: 100%;
          line-height: 25px;

          h3 {
            font-size: 17px;
            font-family: "Font_TSX";
            color: white;
            font-weight: 100;
          }
          p {
            font-size: 14px;
            color: white;
            opacity: 30%;
          }
        }
        .FaceitLvl {
          img {
            width: 4rem;
          }
        }
      }
    }

    // h1 {
    //   font-family: Font_TSX;
    //   font-weight: 100;
    //   font-size: 18px;

    //   color: white;
    //   text-transform: uppercase;
    // }
  }
}
