.Footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 10px;

  .Footer_Wrapper {
    display: flex;
    width: 90%;
    padding: 20px;
    justify-content: end;
    span {
      padding: 5px;
      background: linear-gradient(to right, #10bacd 0, #9d49f3 70%);
      color: white;
      border-radius: 10px;
    }
  }
}
